table {
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #333333;
}

table th {
  background-color: bisque;
  width: 50px;
}

table td {
  width: 60px;
  padding-right: 10px;
  text-align: right;
}
